
<mat-toolbar>
  <div class="heading">
    <h1 class="head-title">Not A Tree</h1>
    <div class="search">
      <input matInput placeholder="Search Tours" class="search-nav" type="text"/>
      <mat-icon class="search-icon">search</mat-icon>
    </div>
  </div>

  <div *ngIf="(isSmallScreen$|async)?.matches" >
    <mat-icon class="menu-icon" (click)="activateSideNav()">menu</mat-icon>
  </div>

  <nav *ngIf="!(isSmallScreen$|async)?.matches " class="list-items" >
    <a *ngFor="let item of navItems" class="links" >{{item}}</a>
  </nav>
</mat-toolbar>