@use "../../../assets/sass/mixins";
.spacer {
  flex: 1 1 auto;
}
.mat-toolbar{
  background: transparent;

}
.search{
  position: relative;
  //margin-left: 1rem;
  &-nav{
    padding: 1rem 3.3rem;
    padding-left: 3.8rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 25rem;
    &::placeholder{
      color: #fff;
    }
  }
  &-icon{
    position: absolute;
    top: 58%;
    transform: translateY(-50%);
    left: 1.3rem;
    font-size: 1.8rem;
    color: white;
  }
}
.heading{
  @include mixins.flex(row, flex-start, center);
  column-gap: 3rem;
  flex: 1 0 60%;
}
.head-title {
  color: white;
  font-size: 2.2rem;
}
.list-items{
  @include mixins.flex(row, space-between, center);
  flex: 1 0 35%;
  font-size: 1.6rem;
  color: white;

}
.links{
  cursor: pointer;

  position: relative;
  padding: 1rem;
 
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(0,0);
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.342);
    transition: all .3s linear;
  }
  &:hover::before{
    transform: scale(1,1);

  }
}
:host{
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0.5rem 0;
}


.menu-icon{
  color: white;
}
